<!DOCTYPE html>

<head>
    <meta charset="utf-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/toast.css" />
    <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="assets/fontawesome/css">
    <link rel="stylesheet" href="css/administrators/adminHomeStyle.css">
    <link rel="stylesheet" href="css/administrators/adminHomeStyle.scss">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="css/users/restaurant.css">
    <link rel="stylesheet" href="css/users/myProfile.css">
    <link rel="stylesheet" href="css/administrators/adminRestaurant.css">
</head>

<body>
    <section class="container mt-4">
        <p class="fw-bold fs-20">Prikaz svih registrovanih korisnika</p>
        <label for="priceFrom" style="width:200px;margin-right: 6rem;text-align: left;">Cena(od):</label>
        <label for="priceTo" style="width:300px;margin-right: 6rem;">Cena(do):</label>
        <label for="dateFrom" style="width:200px;margin-right: 11rem;">Datum(od):</label>
        <label for="dateTo" style="width:200px;margin-right: 11rem;">Datum(do):</label>
        <form class="example mt-2" style="margin-left: 2rem;">
            <input type="text" v-model="priceFrom" class="input-custom1" style="width:300px;" placeholder="Pocetna cena"
                name="search">
            <input type="text" v-model="priceTo" class="input-custom1" style="width:300px;" placeholder="Krajnja cena"
                name="search">
            <button v-on:click="sortPrice? sortByPriceAscending() : sortByPriceDescending()" data-toggle="button"
                class="btn  btn-primary"><i class=" fas fa-sort"></i></button>

            <!-- <input type="text"  v-model="dateFrom" class="input-custom1" style="width:300px;" placeholder="Pocetni datum" name="search">
            <input type="text"  v-model="dateTo" class="input-custom1" style="width:300px;" placeholder="Krajnji datum" name="search">
            -->
            <vuejs-datepicker format="dd-MM-yyyy" v-model="dateFrom" placeholder="Pocetni datum">
            </vuejs-datepicker>
            <vuejs-datepicker format="dd-MM-yyyy" v-model="dateTo" placeholder="Krajnji datum">
            </vuejs-datepicker>
            <button v-on:click="sortDate? sortByDateAscending() : sortByDateDescending()" data-toggle="button"
                class="btn  btn-primary"><i class=" fas fa-sort"></i></button>

        </form>
        </br>

        <label for="selRole">Status porudzbine:</label>

        <select v-model="statusFilter" style="width:200px;height:30px;" class="custom-select" id="selStatus"
            name="selectStatus">

            <option>OBRADA</option>
            <option value="MANAGER">U_PRIPREMI</option>
            <option value="DELIVERYMAN">CEKA_DOSTAVU</option>
            <option value="BUYER">U_TRANSPORTU</option>
            <option value="BUYER">DOSTAVLJENA</option>
            <option value="BUYER">OTKAZANA</option>
        </select>
        <button @click="clearStatusFilter()" for="selStatus"
            style="width:30px;height:30px;margin-right: 6rem">X</button>

        </br>



        <div>
            <div class="box-shadow mt-3 px-4 py-4">
                <div class="border-bottoms">
                    <p class="fw-bold fs-15">Porudžbine</p>
                </div>
                <!-- novo -->
                <div id="for" v-for="(o,index) in orders" :key="index">

                    <div class="mt-3 d-flex border-bottom align-items-center justify-content-between">
                        <a v-on:click="showOrder(o.id)">
                            <div class="d-flex align-items-center">

                                <div class="ms-3">

                                    <p class="product-name"> Porudzbina: {{o.id}}</p>
                                    <p class="product-price">{{o.price}} din</p>
                                    <label>Kupac: {{o.name}} {{o.surname}}</label>
                                </div>

                            </div>
                        </a>
                        <div class="d-flex align-items-center">
                            <p class="product-price" style="margin-right:50px">Status : {{o.status}} </p>
                            <p class="product-price"> Datum : {{o.oderDate}} </p>
                        </div>
                        <button type="button" v-if="o.status == 'OBRADA' " @click="changeStatusPrepared(o)"
                            class="btn btn-success btn-sm">->U pripremi</button>
                        <button type="button" v-if="o.status == 'U_PRIPREMI' " @click="changeStatusWaiting(o)"
                            class="btn btn-success btn-sm">->Čeka dostavu</button>
                        <button type="button" v-if="o.status == 'CEKA_DOSTAVU' " class="btn btn-success btn-sm"
                            disabled>->Čeka dostavu</button>
                    </div>



                </div>

            </div>
        </div>

    </section>

    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <script src="js/axios.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/toast.js"></script>
    <script src="js/toastr.min.js"></script>
    <script src="js/vuejs-datepicker.min.js"></script>
    <script src="js/moment.min.js"></script>

    <!-- MOJE .JS STRANICE  -->
    <script src="app/administrators/components/adminCreateRestaurant.js"></script>
    <script src="app/administrators/components/adminCreateUser.js"></script>
    <script src="app/administrators/components/adminAllRestaurants.js"></script>
    <script src="app/administrators/components/adminAllUsers.js"></script>
    <script src="app/administrators/components/adminProfil.js"></script>
    <script src="app/administrators/components/dateInput.js"></script>
    <script src="app/administrators/components/adminRestaurant.js"></script>
    <script src="app/administrators/components/administratorNavbar.js"></script>
    <script src="app/administrators/appAdministrators.js"></script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>