body {
    background-color: #f7f7f7;
  }
  
  .main-banner {
    position: relative;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-image: url(assets/imgs/banner-1.jpg);
    z-index: -1;
  }
  
  h2 {
    font-family: "Berkshire Swash", cursive;
  }
  
  #black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: -1;
  }
  #stil{
    width: 70%;
  
  
  }
  #in1 {
  width: 25%;
  height: auto;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  margin: 12px 20px 12px 40px;
}
  #in2 {
  width: 10%;
  height: auto;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  margin: 12px 20px 12px 40px;
}
  
[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-text)
}
  
  
  
  