.main-banner {

  position: relative;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-image: url(../../assets/imgs/banner-1.jpg);
  z-index: -1;
  
}

.sortbutton{
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	 background-color: #4CAF50;
}


#black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: -1;
}

#search  {
  width: 95%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url(../../img/searchicon.png);
  background-size: 30px 30px;

  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin: 0px , 10px,0px, 10px;
}

#in1 {
  width: 25%;
  height: auto;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  margin: 12px 20px 12px 40px;
}


.filter-head {
width: 90%;
padding: 1rem 1.5rem;
font-size: 1rem;
font-weight: 600;
border-radius: 10px;
background-color: white;
margin: 50px 20px 20px 50px;

}

.btn-delete {
min-width: 100px;
height: 40px;
padding: 0 15px;
background: transparent;
white-space: nowrap;
border-radius: 0;
font-size: 14px;
color: #666;
transition: all 0.2s ease-out, color 0.2s ease-out;
border: 0;
cursor: pointer;
font-weight: bold;
}

.btn-delete:hover,
.btn-delete:focus {
color: #000;
outline: 0;
box-shadow: none;
}

.btn-search {
min-width: 100px;
height: 40px;
padding: 0 15px;
background: #00bbec;
white-space: nowrap;
border-radius: 0;
font-size: 14px;
color: #fff;
transition: all 0.2s ease-out, color 0.2s ease-out;
border: 0;
cursor: pointer;
font-weight: bold;
box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}

.btn-search:hover,
.btn-search:focus {
background: #00a7d3;
}

.row.third {
margin: 50px,20px,20px,50px;
}
.row.third .input-field {
width: 100%;
display: -ms-flexbox;
display: flex;
-ms-flex-pack: justify;
justify-content: space-between;
-ms-flex-align: center;
align-items: center;

}



.restourant-search {
background-color: white;
padding: 0.5rem 0.5rem;
border-radius: 15px;
}
/*
.restourant-search div :hover {
 
  -ms-transform: scale(1.5); 
  -webkit-transform: scale(1.5); 
  transform: scale(1.5); 
 }*/

.fs-20 {
text-transform: uppercase;
font-size: 1.5rem;
}

.restourant-logo {
width: 65%;
border-radius: 15px;
}

.restourant-name {
font-size: 1.3rem;
font-weight: bold;
margin-bottom: 0;
}

.restourant-price {
font-size: 0.8rem;
color: rgba(0, 0, 0, 0.815);
}

.restourant-mark i {
color: #ffc200;
font-size: 1.2rem;
}

.restourant-mark span {
color: #ffc200;
font-size: 1.2rem;
font-weight: 600;
}
a:hover {
 cursor:pointer;
}


/*
.help:hover {
  
   transform: scale(0.5);
  }
*/
